current_version = "0.2.0"

[[files]]
path = "pyproject.toml"
search = "version = \"{{current_version}}\""
replace = "version = \"{{new_version}}\""

[[files]]
path = "src/atsphinx/helper/__init__.py"
search = "__version__ = \"{{current_version}}\""
replace = "__version__ = \"{{new_version}}\""

[[files]]
path = "CHANGELOG.md"
search = "# Changelog"
replace = """
# Changelog

## v{{new_version}} - {{nowFormat.dateISO}} Asia/Tokyo
"""
