name: 'Release new version'

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version-file: '.python-version'
      - name: Build package
        run: |
          pip install hatch
          hatch build
          ls -l dist
      - uses: actions/upload-artifact@v4
        with:
          name: packages-${{ github.ref_name }}
          path: dist/
  gh-release:
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: packages-${{ github.ref_name }}
          path: dist/
      - uses: ncipollo/release-action@v1
        with:
          artifacts: 'dist/*'
          bodyFile: 'CHANGESLOG.rst'
          draft: false
          name: Release ${{ github.ref_name }}
          tag: ${{ github.ref }}
          prerelease: false
  publish-pypi:
    runs-on: ubuntu-latest
    needs: [build]
    if: success() && ${{ needs.prepare.outputs.is-release }}
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: packages-${{ github.ref_name }}
          path: dist/
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
  deploy-doc:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version-file: '.python-version'
      - name: Configure venv
        run: |
          pip install uv
          uv venv
          uv pip install -r requirements-dev.lock
      - name: Run tests
        run: |
          source .venv/bin/activate
          make -C doc dirhtml
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: doc/_build/dirhtml
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
